.btn{
  width: 100%;
  display: block;
  border-radius: 5px;
  background-color: $stack-color;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: $base-color;
  font-family: $OpenSans;
  font-size: 18px;
  @include transition(all .5s);

  &:hover{
    background-color: lighten($stack-color, 10%);
  }

  &-small{
    max-width: 372px;
    height: 37px;
    font-weight: 700;
  }

  &-large{
    max-width: 367px;
    height: 56px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
